# Logs
*.log

# System files
.DS_Store
Thumbs.db

# Environment and config files
.env
.env.backup
.env.production
/auth.json
Homestead.json
Homestead.yaml

# IDE/editor/project files
/.idea
/.vscode
/.fleet
/.zed
/.nova
.phpactor.json
.phpunit.cache
.phpunit.result.cache
_ide_helper.php

# Dependency/build artifacts
/node_modules
/vendor

# Laravel build/public
/public/build
/public/hot
/public/storage
/storage/*.key
/storage/pail
